# Copyright (C) 2017 Alpha Griffin
# @%@~LICENSE~@%@
# TF_curses
# /.gitignore
# __author__ = Ruckusist

# extras
*.swp
*.pyc
/work_scatch_bin

# install dirs
build/
dist/
TF_Curses.egg-info/
.tox

# IDE bloat
.idea
*/__pycache__
*/*/__pycache__

# logs
*.txt
*.log

# bad ideas
/website


