# Copyright (C) 2017 Alpha Griffin
# @%@~LICENSE~@%@
# TF_curses
# /.gitignore
# __author__ = Ruckusist
*.swp
*.pyc

# install dirs
build/
dist/
TF_Curses.egg-info/
.tox

# IDE bloat
.idea
*/__pycache__
*/*/__pycache__